.map {
  width: 100%;
  height: 100vh;
}
.leaflet-container {
  height: 100%;
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  position: fixed;
  bottom: 20vh;
}
